.blockeyfi-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;  /* Adjust the space between Blockeyfi and other logos */
  }
  
  /* Style for sponsor logos */
  .sponsor-logo {
    max-width: 150px; /* Adjust the size of logos */
    margin: 0 15px;   /* Space between logos */
  }